/*------------------------------------------------------------------------------------

[Table of contents]

1. Header
2. Buttons
3. Main

--------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------
    1-Header
---------------------------------------------------------------------------------------*/

.header {
  background-image: url("../img/header-bg.png");
  background-size: 1200px auto;
  height: 280px;
  background-repeat: no-repeat;
  background-position: -630px 0;
  position: relative;
  padding: 20px 10px;
}

.logo img {
  width: 150px;
}

.car {
  max-width: 100%;
  transform: translate(-20px, 70px);
}

/*-------------------------------------------------------------------------------------
    2-Buttons
---------------------------------------------------------------------------------------*/
.btn {
  text-transform: uppercase;
  background-color: $yellow__main;
  text-align: center;
  color: black;
  display: inline-block;
  position: relative;
  transform: skew(-15deg);

  &__black-1 {
    font-family: "Pari-Match-Light";
    font-size: 2.55rem;
    padding: 10px 30px 16px;
    color: $yellow__main;
    background-color: black;
    border: 1px solid $yellow__main;
  }

  &__yellow-1 {
    font-size: 1rem;
    padding: 8px 23px 10px;
    border: 5px solid black;
  }

  &__yellow-2 {
    font-size: 2.5rem;
    padding: 18px 30px 20px;
  }

  span {
    transform: skew(15deg);
    display: inline-block;
  }
}

/*-------------------------------------------------------------------------------------
    3-Main
---------------------------------------------------------------------------------------*/
.main {
  padding-top: 90px;
  padding-bottom: 10px;
  background-image: url("../img/bg.png");
  background-position: center top;
  background-size: 200% auto;
  margin: -80px 0 0;
  background-repeat: no-repeat;
}

.main__bottom {
  margin-top: -40px;
  position: relative;
  padding-bottom: 10px;
  z-index: 2;
  background: rgb(0, 0, 30);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 30, 1) 75%,
    rgba(0, 0, 30, 0.10686272800135677) 91%
  );
}

.man__left {
  width: 90%;
  margin-left: -15px;
}

.man__right {
  width: 90%;
  margin-right: -15px;
  margin-top: -95px;
  float: right;
  z-index: 2;
  position: relative;
}
