@font-face {
  font-family: "Circe-Regular";
  src: url("../fonts/circe/Circe-Regular.eot");
  src: url("../fonts/circe/Circe-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/circe/Circe-Regular.svg#Circe-Regular") format("svg"),
    // url("../fonts/circe/Circe-Regular.ttf") format("truetype"),
      url("../fonts/circe/Circe-Regular.woff") format("woff"),
    url("../fonts/circe/Circe-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pari-Match-Light";
  src: url("../fonts/parimatch/Pari-Match-Light.eot");
  src: url("../fonts/parimatch/Pari-Match-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/parimatch/Pari-Match-Light.svg#Pari-Match-Light")
      format("svg"),
    url("../fonts/parimatch/Pari-Match-Light.ttf") format("truetype"),
    url("../fonts/parimatch/Pari-Match-Light.woff") format("woff"),
    url("../fonts/parimatch/Pari-Match-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pari-Match-Regular";
  src: url("../fonts/parimatch/Pari-Match-Regular.eot");
  src: url("../fonts/parimatch/Pari-Match-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/parimatch/Pari-Match-Regular.svg#Pari-Match-Regular")
      format("svg"),
    url("../fonts/parimatch/Pari-Match-Regular.ttf") format("truetype"),
    url("../fonts/parimatch/Pari-Match-Regular.woff") format("woff"),
    url("../fonts/parimatch/Pari-Match-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pari-Match-Bold";
  src: url("../fonts/parimatch/Pari-Match-Bold.eot");
  src: url("../fonts/parimatch/Pari-Match-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/parimatch/Pari-Match-Bold.svg#Pari-Match-Bold") format("svg"),
    url("../fonts/parimatch/Pari-Match-Bold.ttf") format("truetype"),
    url("../fonts/parimatch/Pari-Match-Bold.woff") format("woff"),
    url("../fonts/parimatch/Pari-Match-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
